Asa_Crypto_Sentiment_Analyst.json
{
  "name": "Mengumpulkan Data Real-Time",
  "nodes": [
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        512,
        -144
      ],
      "id": "0b392735-1eb7-40db-ba61-0d55d65ac03b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "5uEyhYt6xIOAviVl",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f78ec8cd-9c21-48db-92ac-09da1abb0df8",
      "name": "Tiap 15 menit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aaf3931a-f271-4d62-a333-580542115bc5",
              "name": "Timestamp",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "57329187-3a68-4e94-acc0-b2753a519316",
              "name": "Tweet_ID",
              "value": 22446688,
              "type": "number"
            },
            {
              "id": "a454f7b9-0f2b-4622-800b-8c56f0c12097",
              "name": "Tweet_Text",
              "value": "Sentimen pasar terhadap Bitcoin ($BTC) sangat positif pagi ini karena volume transaksi meningkat tajam.",
              "type": "string"
            },
            {
              "id": "45e1a388-e1f5-4603-b646-ea40c88d83a6",
              "name": "Hasil_Analisis_AI",
              "value": "Positive",
              "type": "string"
            },
            {
              "id": "94312f9f-47bd-4ded-9c8a-6c54b7b3f37b",
              "name": "Score",
              "value": 0.85,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "59e61dc8-91b4-4a37-9fef-dca566f3184b",
      "name": "Pengambil Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis sentimen dari teks berikut:\n\"{{ $json.Tweet_Text }}\"\n\nTugas Anda:\n1. Tentukan label sentimen: \"Positive\", \"Negative\", atau \"Neutral\".\n2. Berikan skor numerik (Score) antara 0 sampai 1 yang menunjukkan kekuatan sentimen tersebut (0 = sangat negatif, 1 = sangat positif).\n\nAturan Output (Wajib):\n- HANYA berikan label dan skor dalam format: Label | Skor\n- Contoh: Positive | 0.85\n- JANGAN berikan penjelasan, pembukaan, atau simbol markdown apapun.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "5be56e9e-857b-4674-ac72-536bbc9d5000",
      "name": "Analisis Sentimen"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "137M2Zu168E1_hzfAnu4PGQs5LuqdPMrP6F7Nxvlg3kE",
          "mode": "list",
          "cachedResultName": "$BTC dan $ETH Sentimen Media Sosial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/137M2Zu168E1_hzfAnu4PGQs5LuqdPMrP6F7Nxvlg3kE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/137M2Zu168E1_hzfAnu4PGQs5LuqdPMrP6F7Nxvlg3kE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "Tweet_ID": "={{ $('Pengambil Data').item.json.Tweet_ID }}",
            "Tweet_Text": "={{ $('Pengambil Data').item.json.Tweet_Text }}",
            "Score": "={{ $json.text.split('|')[1].trim() }}",
            "Hasil_Analisis_AI": "={{ $json.text.split('|')[0].trim() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tweet_ID",
              "displayName": "Tweet_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tweet_Text",
              "displayName": "Tweet_Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hasil_Analisis_AI",
              "displayName": "Hasil_Analisis_AI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        0
      ],
      "id": "afd95922-ca52-481c-ab89-21e4a8277f80",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1S5Cq9iWhfqeYdZ6",
          "name": "Analisis Sentimen Harian"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        240
      ],
      "id": "65b98b5f-cb67-400d-9f78-86706d15d9fc",
      "name": "Tiap jam 7 pagi"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua baris dari node \"Baca Data\"\nconst items = $input.all(); // Menggunakan syntax n8n terbaru\n\nlet positive = 0;\nlet negative = 0;\nlet neutral = 0;\n\nfor (const item of items) {\n  // Nama field harus sama dengan header di Sheets\n  const sentiment = item.json.Hasil_Analisis_AI; \n  \n  if (sentiment === 'Positive') {\n    positive++;\n  } else if (sentiment === 'Negative') {\n    negative++;\n  } else if (sentiment === 'Neutral') {\n    neutral++;\n  }\n}\n\nreturn {\n  total_tweets: items.length,\n  sentimen_positif: positive,\n  sentimen_negatif: negative,\n  sentimen_netral: neutral\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        240
      ],
      "id": "390b626a-d9f3-4b80-9c6e-399db87763c6",
      "name": "Analisis Data"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "137M2Zu168E1_hzfAnu4PGQs5LuqdPMrP6F7Nxvlg3kE",
          "mode": "list",
          "cachedResultName": "$BTC dan $ETH Sentimen Media Sosial",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/137M2Zu168E1_hzfAnu4PGQs5LuqdPMrP6F7Nxvlg3kE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/137M2Zu168E1_hzfAnu4PGQs5LuqdPMrP6F7Nxvlg3kE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        240
      ],
      "id": "12bbc667-2491-4323-9245-69a9e7e23778",
      "name": "Baca Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1S5Cq9iWhfqeYdZ6",
          "name": "Analisis Sentimen Harian"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah seorang analis sentimen media sosial.\nTuliskan kesimpulan singkat (dalam bahasa Indonesia) untuk laporan Telegram, berdasarkan data berikut:\n\n- Total Tweet Dianalisis: {{ $json.total_tweets }}\n- Sentimen Positif: {{ $json.sentimen_positif }}\n- Sentimen Negatif: {{ $json.sentimen_negatif }}\n- Sentimen Netral: {{ $json.sentimen_netral }}\n\nBerikan ringkasan singkat tentang apa arti angka-angka ini (misalnya, \"Sentimen hari ini cenderung positif,\" \"Ada banyak keraguan di pasar,\" dll.).\n\nBerikan laporan dalam format poin-poin agar mudah dibaca, sertakan emoji yang relevan, dan akhiri dengan saran apakah pasar sedang Bullish atau Bearish.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        240
      ],
      "id": "b6cd0251-ee3f-444c-8f9d-9198cb0700c1",
      "name": "Membuat Kesimpulan"
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        448
      ],
      "id": "7b47624d-6629-4969-8790-498d6d9bc4d2",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "5uEyhYt6xIOAviVl",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6155131672",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        240
      ],
      "id": "f3ce2c76-5755-463d-a773-1e31ed4b259d",
      "name": "Kirim Laporan",
      "webhookId": "760cb0ac-79f7-4364-9377-df39b6798791",
      "credentials": {
        "telegramApi": {
          "id": "q3d8EpyWkbQOhWNR",
          "name": "Asa Daily Report"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis Sentimen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tiap 15 menit": {
      "main": [
        [
          {
            "node": "Pengambil Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pengambil Data": {
      "main": [
        [
          {
            "node": "Analisis Sentimen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Sentimen": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiap jam 7 pagi": {
      "main": [
        [
          {
            "node": "Baca Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Data": {
      "main": [
        [
          {
            "node": "Analisis Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Data": {
      "main": [
        [
          {
            "node": "Membuat Kesimpulan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Membuat Kesimpulan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Membuat Kesimpulan": {
      "main": [
        [
          {
            "node": "Kirim Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ee9a3935-dad1-44c9-a513-1ba379e6c839",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7762260969ce1b1f607bc86cdcbb8007b0ded25e792ccdc3c7592b5a1230f59"
  },
  "id": "jHc3aBdyKPbB7kGr",
  "tags": []
}